[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
google-api-python-client = "*"
google-cloud-storage ="*"
google-cloud-functions ="*"
paretoset = "*"
matplotlib = "*"
numpy = "*"
adjusttext = "*"
toml = "*"
gitpython = "*"
pytest = "*"
pystache = "*"

[dev-packages]

[requires]
python_version = "3.9"
